<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ezi18n</title>

    <script type="module" src="/translationTable.js"></script>
</head>
<body>
    <table>
        <tr>
            <th>Language</th>
            <th>translated phrases</th>
            <th>total</th>
        </tr>
        {{# coverage }}
        <tr>
            <td>{{ language }}</td>
            <td>{{ translated }}</td>
            <td>{{ phrases }}</td>
        </tr>
        {{/ coverage }}
    </table>

    <translation-table project-name="{{ project }}">
        <table>
            <thead>
                <tr>
                    <th>{{ sourceLanguage }}</th>
                    {{# targetLanguages }}
                    <th>{{ . }}</th>
                    {{/ targetLanguages }}
                </tr>
            </thead>
            <tbody>
                {{# translations }}
                <tr>
                    <td>{{ sourcePhrase }}</td>
                    {{# translatedPhrases }}
                    <td>{{ . }}</td>
                    {{/ translatedPhrases }}
                </tr>
                {{/ translations }}
            </tbody>
        </table>
    </translation-table>
</body>
</html>
