<table>
    <tr>
        <th>Language</th>
        <th>translated phrases</th>
        <th>total</th>
    </tr>
    {{# coverage }}
    <tr>
        <td>{{ language }}</td>
        <td>{{ translated }}</td>
        <td>{{ phrases }}</td>
    </tr>
    {{/ coverage }}
</table>
