<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>ezi18n</title>
    <link href="./common.css" type="text/css" rel="stylesheet">
</head>
<body class="flex flex-col justify-center items-center">
    <form action="/project/new" method="post" class="flex flex-col shrink items-center  rounded gap-3">
        {{# errorMessage }}
        <aside role="alert" class="flex flex-col items-center my-4 w-full">
            <p>{{ . }}</p>
        </aside>
        {{/ errorMessage }}
        <div class="flex flex-col w-full gap-0">
            <label for="name">Project name</label>
            <input id="name" name="name" type="text" class="border rounded">
        </div>
        <div class="flex flex-col w-full gap-0">
            <label for="repopath">GitHub repository</label>
            <div class="flex flex-row">
                <p style="display: inline;">www.github.com/</p>
                <input id="repopath" name="repopath" type="text" class="border rounded">
            </div>
        </div>
        <div class="flex flex-col w-full gap-0">
            <label for="pat">Access token</label>
            <input id="pat" name="pat" type="password" class="border rounded">
        </div>
        <input type="submit" class="w-full my-2">
    </p></form>
</body>
</html>
